<p class="subtitle">Hit the button below to confirm your email.</p>

<%= link_to "Confirm and return to Fizzy", session_magic_link_url(code: @magic_link.code), class: "btn" %>

<p class="margin-block-start-double">If Fizzy is on another device, enter this special code instead:
  <br><strong class="txt-large"><%= @magic_link.code %></strong>
</p>

<p class="footer">Need help? <%= mail_to "support@37signals.com", "Email us"%>.
</p>

