<section id="on-deck-cards" class="cards cards--on-deck is-collapsed" style="--card-color: var(--color-ink-light);"
    data-collapsible-columns-target="column"
    data-drag-and-drop-target="container"
    data-drop-target="on_deck">
  <div class="cards__expander btn btn--plain" data-action="click->collapsible-columns#toggle">
    <strong class="font-weight-black cards__expander-count"><%= page.records.count > 99 ? "99+" : page.records.count %></strong>
    <button class="btn btn--plain cards__expander-button txt-uppercase">Not Now</button>
    <div class="progress progress-<%= [page.records.count, 20].min %>"></div>
  </div>

  <% if page.used? %>
    <%= render partial: "cards/display/preview", collection: page.records, as: :card, locals: { draggable: true }, cached: true %>

    <% unless page.last? %>
      <div class="full-width">
        <%= cards_next_page_link "on-deck-cards", page: page, filter: filter %>
      </div>
    <% end %>
  <% else %>
    <% if user_filtering.any? %>
      <p class="txt-normal translucent blank-slate">No matches</p>
    <% else %>
      <div class="card blank-slate blank-slate--card">
        <p class="txt-align-center txt-normal">Drag cards here</p>
      </div>
    <% end %>
  <% end %>
</section>
