<% filter = user_filtering.filter %>

<div class="filters__manage gap-half">
  <%= render "filters/filter_toggle", filter: filter %>

  <%= link_to no_filtering_url, class: "btn btn--remove txt-x-small", data: { controller: "hotkey", action: "keydown.esc@document->hotkey#click"} do %>
    <%= icon_tag "close" %>
    <span class="for-screen-reader">Clear all</span>
  <% end %>
</div>
